<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cskd20"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 地图 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--这个权限用于允许程序在手机屏幕关闭后后台进程仍然运行-->
    <user-permission android:name="android.permission.WAKE_LOCK"/>


    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b25a15287dbc2b7da87401e730535067">
        </meta-data>

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5936261e734be42aa4000e1d"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="86b10f433947ae217e3cd5068ff784db"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"/>

        <activity
            android:name=".module.login.activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".module.login.activity.ForgetActivity"/>
        <activity android:name=".module.login.activity.RegisterSetup0Activity"/>
        <activity android:name=".module.login.activity.RegisterSetup1Activity"/>
        <activity android:name=".module.login.activity.RegisterSetup2Activity"/>
        <activity android:name=".module.personal.activity.ScheduleActivity"/>
        <activity android:name=".module.main.activity.ModeSettingActivity"/>
        <activity android:name=".module.main.activity.MapNavActivity"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".module.login.activity.RegisterSetup3Activity"
            android:launchMode="singleTask"/>

        <service
            android:name=".module.main.server.RequestOrderService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".module.main.server.LocationService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".module.main.server.MyNotificationService"/>
        <service android:name=".module.main.server.UmengNotificationService"/>

        <activity android:name=".module.personal.activity.PersonalCenterActivity">
        </activity>
        <activity android:name=".module.main.activity.OrderInfoActivity">
        </activity>
    </application>

</manifest>